@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CommonWorld - 500 - error</title>
    <meta name=viewport content="width=device-width, initial-scale=1" />
    <link href="~/css/500.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <img src="/img/error500.png"/>

        <h1>
            <span>500</span> <br />
            Internal server error
        </h1>
        <p>We are currently trying to fix the problem.</p>
        <p>Please contact administrator.</p>
    </div>

</body>
</html>
