@{
    ViewData["Title"] = "Home Page";
}

<div class="typewriter">
    <h1 style="top: 50%;position: absolute;left: 50%;transform: translate(-35%, -50%);">
        WELCOME TO COMMON WORLD
    </h1>

</div>
