@model ForgetPasswordModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Register - CommonMenu</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" asp-append-version="true">

    <!--Stylesheet-->
    <style media="screen">
        *,
        *:before,
        *:after {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #080710;
        }

        .background {
            width: 430px;
            height: 520px;
            position: absolute;
            transform: translate(-50%,-50%);
            left: 50%;
            top: 50%;
        }

            .background .shape {
                height: 200px;
                width: 200px;
                position: absolute;
                border-radius: 50%;
            }

        .shape:first-child {
            background: linear-gradient( #1845ad, #23a2f6 );
            left: -150px;
            top: -100px;
        }

        .shape:last-child {
            background: linear-gradient( to right, #ff512f, #f09819 );
            right: -150px;
            bottom: -100px;
        }

        form {
            background-color: rgba(255,255,255,0.13);
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255,255,255,0.1);
            box-shadow: 0 0 40px rgba(8,7,16,0.6);
            padding: 35px 35px;
        }

            form * {
                font-family: 'Poppins',sans-serif;
                color: #ffffff;
                letter-spacing: 0.5px;
                outline: none;
                border: none;
            }

            form h3 {
                font-size: 32px;
                font-weight: 500;
                line-height: 40px;
                text-align: center;
            }

        label {
            display: block;
            margin-top: 30px;
            font-size: 16px;
            font-weight: 500;
        }

        input {
            display: block;
            height: 50px;
            width: 100%;
            background-color: rgba(255,255,255,0.07);
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 8px;
            font-size: 14px;
            font-weight: 300;
        }

        ::placeholder {
            color: #e5e5e5;
        }

        button {
            margin-top: 20px;
            width: 100%;
            background-color: #ffffff;
            color: #080710;
            padding: 15px 0;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
        }



        .text-danger span {
            color: red;
            font-size: 12px;
        }

        .quote {
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
            text-align: center;
            margin-bottom: 20px;
        }

        .email-input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        .reset-button {
            width: 100%;
            padding: 10px;
            background-color: #3498db; /* Adjust the background color as needed */
            color: #fff; /* Adjust the text color as needed */
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

    </style>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post" asp-asp-area="Account" asp-asp-controller="Account" asp-action="ForgetPassword">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h3>Common World</h3>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="text-center">
                    <p class="quote">Lost your keys to the digital kingdom? Fear not!<br /> Enter your email, and let's unlock a new password adventure together. 🚀🔐</p>
                    <input type="email" class="email-input" name="Email" placeholder="Your Email" required>
                    @Html.ValidationMessageFor(a=>a.Email,"",new {@class="text-danger"})
                    <button type="submit" class="reset-button">Reset Password</button>
                    <p class="mt-3">Found your keys? Great! <a asp-action="LogIn" asp-area="Account" asp-controller="Account" style="color:#7793FF;">Sign In</a> and continue your digital journey with confidence. 🔑🚀</p>
                </div>
            </div>

        </div>

    </form>
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>
    @await Component.InvokeAsync("NToastNotify")
</body>


</html>
