@model LoginViewModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Login - CommonWorld</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style>
        *,
        *:before,
        *:after {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #080710;
        }

        .background {
            width: 26.875rem; /* 430px to rem */
            height: 32.5rem; /* 520px to rem */
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
        }

            .background .shape {
                height: 12.5rem; /* 200px to rem */
                width: 12.5rem; /* 200px to rem */
                position: absolute;
                border-radius: 50%;
            }

        .shape:first-child {
            background: linear-gradient(#1845ad, #23a2f6);
            left: -6.25rem; /* 100px to rem */
            top: -5rem; /* 80px to rem */
        }

        .shape:last-child {
            background: linear-gradient(to right, #ff512f, #f09819);
            right: -6.25rem; /* 100px to rem */
            bottom: -5rem; /* 80px to rem */
        }

        form {
            width: 30%; /* You might want to consider changing this to a responsive unit like vw */
            background-color: rgba(255, 255, 255, 0.13);
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            border-radius: 1.875rem; /* 30px to rem */
            backdrop-filter: blur(0.625rem); /* 10px to rem */
            border: 0.125rem solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 2.5rem rgba(8, 7, 16, 0.6); /* 40px to rem */
            padding: 3.125rem 2.188rem; /* 50px 35px to rem */
        }

            form * {
                font-family: 'Poppins', sans-serif;
                color: #ffffff;
                letter-spacing: 0.03125rem; /* 0.5px to rem */
                outline: none;
                border: none;
            }

            form h3 {
                font-size: 2rem; /* 32px to rem */
                font-weight: 500;
                line-height: 2.625rem; /* 42px to rem */
                text-align: center;
            }

        label {
            display: block;
            margin-top: 1.875rem; /* 30px to rem */
            font-size: 1rem; /* 16px to rem */
            font-weight: 500;
        }

        input {
            display: block;
            height: 3.125rem; /* 50px to rem */
            width: 100%;
            background-color: rgba(255, 255, 255, 0.07);
            border-radius: 0.1875rem; /* 3px to rem */
            padding: 0 0.3125rem; /* 5px to rem */
            margin-top: 0.5rem; /* 8px to rem */
            font-size: 0.875rem; /* 14px to rem */
            font-weight: 300;
        }

        ::placeholder {
            color: #e5e5e5;
        }

        button {
            margin-top: 1.875rem; /* 30px to rem */
            width: 100%;
            background-color: #ffffff;
            color: #080710;
            padding: 0.9375rem 0; /* 15px to rem */
            font-size: 1.125rem; /* 18px to rem */
            font-weight: 600;
            border-radius: 0.3125rem; /* 5px to rem */
            cursor: pointer;
        }

        .social {
            margin-top: 1.875rem; /* 30px to rem */
            display: flex;
        }

            .social div {
                background: red;
                width: 9.375rem; /* 150px to rem */
                border-radius: 0.1875rem; /* 3px to rem */
                padding: 0.3125rem 0.625rem 1rem 0.3125rem; /* 5px 10px 10px 5px to rem */
                background-color: rgba(255, 255, 255, 0.27);
                color: #eaf0fb;
                text-align: center;
            }

                .social div:hover {
                    background-color: rgba(255, 255, 255, 0.47);
                }

            .social .fb {
                margin-left: 1.5625rem; /* 25px to rem */
            }

            .social i {
                margin-right: 0.25rem; /* 4px to rem */
            }

        .text-danger span {
            color: red;
            font-size: 0.75rem; /* 12px to rem */
        }

        p {
            font-size: 0.875rem; /* 14px to rem */
        }

            p a {
                color: #7793FF;
            }
    </style>

</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post" class="user" asp-area="Account" asp-controller="Account" asp-action="Login">
        <h3>Common World</h3>
        <label for="Email">Email</label>
        <input type="email" asp-for="Email" placeholder="Enter Email Address...">
        @Html.ValidationMessageFor(a => a.Email, "", new { @class = "text-danger" })


        <label for="password">Password</label>
        <input type="password" asp-for="Password" placeholder="Password">
        @Html.ValidationMessageFor(a => a.Password, "", new { @class = "text-danger" })

        <p style="float:right;padding:5px 0;"><a asp-action="ForgetPassword" asp-area="Account" asp-controller="Account">Forget Password?</a> </p>

        <button type="submit">Log In</button>
        <br />
        <br />
        <p>Don't have an account? <a asp-action="Register" asp-area="Account" asp-controller="Account">Register</a></p>



    </form>
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>
    @await Component.InvokeAsync("NToastNotify")
</body>


</html>
