.typewriter {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typewriter h1 {
    width: 24ch;
    animation: typing 3s steps(27), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 5vh;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: orange
    }
}


